:root {
  --color-white: #fff;
  --color-light-gray: 
  --color-dark: #111;
  --font-size: 1em;
 --color-bg-message: linear-gradient(180deg, rgba(236,241,255,1) 0%, rgba(203,212,230,1) 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  /* max-width: 100vw; */
  width: 100%;
  height: 100%;
}

input {
  padding: 1em;
  
  /* border-radius: 100%; */
  border: 1px solid black;
  width: 100%;
/* width: 100%; */

}
input[type="text"] {

}

form{
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 1em;
}

.message-container {
  margin: 1em;
display: flex;


}
.message-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
}

.message-list {

}

.message {
  border-radius: .5em;
  background: gray;
  padding: .5em 1em;
  min-width: 3em;
  margin-bottom: 1em;
  background: var(--color-bg-message);
}



.message::marker{
  position: absolute;
  bottom: 0;
  left: 0;
}